<table class="flex-column flex-lg-wrap">
	<tbody>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageAccounts" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageRoleTypes" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageGames" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManagePegi" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageEventsPlaces" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageGamesTypes" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManagePodiumRanking" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManagePrizeCategory" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManagePrizesTypes" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageTournaments" asp-action="Index">Manage Accounts</a>
		</td>
		<td>
			<a class="btn btn-outline-primary" asp-controller="ManageTeams" asp-action="Index">Manage Accounts</a>
		</td>
	</tbody>
</table>