@model WebLearningMVCEF.Models.ViewModels.UserVM

<h1>AddUser</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="NewUser">
            @* This validation summary is not required if we have asp-validation directly for each of input form*@
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NickName" class="control-label"></label>
                <input asp-for="User.NickName" class="form-control" />
                <span asp-validation-for="User.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Login" class="control-label"></label>
                <input asp-for="User.Login" class="form-control" />
                <span asp-validation-for="User.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleType" class="control-label"></label>
                <input asp-for="User.RoleType" class="form-control" />
                <span asp-validation-for="User.RoleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleTypeId" class="control-label"></label>
                @*<select asp-for="RoleTypeId" class ="form-control" asp-items="@ViewBag.TypeDropDown">*@
                <select asp-for="User.RoleTypeId" class ="form-control" asp-items="@Model.RolesTypesDropDown">
                    <option selected>--Select RoleType</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.SecondName" class="control-label"></label>
                <input asp-for="User.SecondName" class="form-control" />
                <span asp-validation-for="User.SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CreditCard" class="control-label"></label>
                <input asp-for="User.CreditCard" class="form-control" />
                <span asp-validation-for="User.CreditCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
